$body-color: #4f5665;
$black-color: #0b132a;
$orange-color: #f53855;
$red-color: #f53838;
$bgc-body: #f6f6f6;
$white-color: #fff;
$shadow-color: rgba(245, 56, 56, 0.35);
$title-color: #0b132a;
$border-color: #dddddd;
